@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {opacity: 0;}
  25% {opacity: 0.25;}
  50% {opacity: 0.50;}
  100% {opacity: 1;}
  
}

@keyframes zoomIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}

.animate-zoomIn {
  animation: zoomIn 0.6s ease-out forwards;
}
